---
import { getCollection } from "astro:content";
import ExperienceCard from "../components/ExperienceCard.astro";
import Layout from "../layouts/Layout.astro";
import { cn } from "../lib/utils";

const experiences = await getCollection("experience");
const title = "Experience | Théo Bourgeois";
const description =
    "Explore my professional experience, including roles, responsibilities, and achievements in various positions.";
const keywords =
    "Experience, Professional Experience, Work History, Software Engineer, Roles, Responsibilities, Achievements";
---

<Layout title={title} description={description} keywords={keywords}>
    <section>
        {
            experiences.map((experience, index) => (
                <article
                    class={cn(
                        "snap-start relative h-screen pt-12 mb-24 sm:pt-24",
                        {
                            "pt-20": index === 0,
                        }
                    )}
                >
                    {index === 0 && (
                        <div class="w-4/5 mx-auto">
                            <h2 class="sm:text-8xl text-5xl font-bold text-center drop-shadow-md">
                                Experience
                            </h2>
                        </div>
                    )}
                    <ExperienceCard experience={experience.data} />
                </article>
            ))
        }
    </section>
</Layout>
