---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { cn } from "../lib/utils";

const projects = await getCollection("projects");
const title = "Projects | Théo Bourgeois";
const description =
    "View a collection of projects I've worked on, including web applications, open-source contributions, and personal projects.";
const keywords =
    "Projects, Portfolio, Web Development, Software Engineer, React, TypeScript, Next.js, GraphQL, Cloud Computing";
---

<Layout title={title} description={description} keywords={keywords}>
    <section>
        {
            projects.map((project, index) => (
                <article
                    class={cn("snap-start relative mt-12 pt-8 mb-24 sm:pt-24", {
                        "pt-16 sm:pt-20": index === 0,
                    })}
                >
                    {index === 0 && (
                        <div class="w-4/5 mx-auto">
                            <h2 class="sm:text-8xl text-5xl font-bold text-center drop-shadow-md">
                                Projects
                            </h2>
                        </div>
                    )}
                    <ProjectCard project={project.data} />
                </article>
            ))
        }
    </section>
</Layout>
